@model PagedList<LebaobaoComponents.Domains.ChargeLog>
@{
    ViewBag.Title = "充值记录";
}

<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">后台首页</a>
        <a href="">会员管理</a>
        <a>
            <cite>@ViewBag.Title</cite>
        </a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i>
    </a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form action="/user/chargelist" method="get" class="layui-form layui-col-md12 x-so">
            <input type="text" name="childname" value="@Request["childname"]" placeholder="请输入孩子姓名" autocomplete="off" class="layui-input">
            <div class="layui-input-inline">
                <select id="ordertype" name="ordertype">
                    <option value="">充值类别</option>
                    <option value="0">推拿</option>
                    <option value="1">保健</option>
                </select>
                <div class="layui-unselect layui-form-select">
                    <div class="layui-select-title">
                        <input type="text" placeholder="@(Request["ordertype"]=="0"?"推拿":"保健")" value="" readonly="" class="layui-input layui-unselect">
                        <i class="layui-edge"></i>
                    </div>
                    <dl class="layui-anim layui-anim-upbit" style="">
                        <dd lay-value="" class="layui-select-tips">充值类别</dd>
                        <dd lay-value="0" class="">推拿</dd>
                        <dd lay-value="1" class="">保健</dd>
                    </dl>
                </div>
            </div>
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>

    <span class="x-right" style="line-height:40px">共有数据：@ViewBag.ChargeCount 条</span>

    <table class="layui-table">
        <thead>
            <tr>
                <th>
                    <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
                </th>
                <th>ID</th>
                <th>孩子姓名</th>
                <th>充值金额</th>
                <th>充值次数</th>
                <th>充值时间</th>
                <th>充值方式</th>
                <th>充值类别</th>
                <th>描述</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='@item.Id'>
                            <i class="layui-icon">&#xe605;</i>
                        </div>
                    </td>
                    <td>@item.Id</td>
                    <td>@item.User.ChildName</td>
                    <td>@item.Money</td>
                    <td>@item.CanUseCount</td>
                    <td>@item.CreateTime.ToString()</td>
                    <td>@item.PayMethod</td>
                    @if (item.OrderType == LebaobaoComponents.Domains.OrderType.TuiNa)
                    {
                        <td>推拿</td>

                    }
                    @if (item.OrderType == LebaobaoComponents.Domains.OrderType.BaoJian)
                    {
                        <td>保健</td>

                    }
                    <td>@item.Description</td>
                </tr>}

        </tbody>
    </table>

    <div id="page" class="page">
        <div>
            @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "index", CurrentPagerItemTemplate = "<span class=\"current\">{0}</span>", DisabledPagerItemTemplate = "<a>{0}</a>", FirstPageText = "<<", PrevPageText = "<", NextPageText = ">", LastPageText = ">>" })
        </div>
    </div>
</div>
