@model LebaobaoComponents.Domains.Users
@{
    ViewBag.Title = Model==null?"添加用户":"修改用户";
}

<div class="x-body">
    <form class="layui-form">
        <input type="hidden" value="@(Model == null ? "" : Model.Id.ToString())" name="userid"/>
        @*<div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>家长姓名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_email" name="name" required="" lay-verify=""
                       autocomplete="off" value="@(Model == null ? "" : Model.Name)" class="layui-input">
            </div>

        </div>*@
        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red">*</span>孩子姓名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_username" name="childname" required="" lay-verify="nikename"
                       autocomplete="off" value="@(Model == null ? "" : Model.ChildName)" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red">*</span>性别
            </label>
            <div class="layui-input-inline">
                <select name="sex" lay-verify="">
                    @if (Model==null)
                    {
                        <option value="">请选择性别</option>
                        <option value="0">男</option>
                        <option value="1">女</option>
                    }
                    else
                    {

                        <option value="">请选择性别</option>
                        <option value="0" @(Model.Sex == 0 ? "selected" : "")>男</option>
                        <option value="1"@(Model.Sex == 1 ? "selected" : "")>女</option>
                    }

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red"></span>手机号
            </label>
            <div class="layui-input-inline">
                <input type="number" id="L_phone" name="phone" autocomplete="off" value="@(Model == null ? "" : Model.Phone)" class="layui-input">
            </div>
            @*<div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>将会成为您唯一的登入名
            </div>*@
        </div>
        @*<div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red">*</span>地址
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_username" name="address" required="" lay-verify="nikename"
                       autocomplete="off" value="@(Model == null ? "" : Model.Address)" class="layui-input">
            </div>
        </div>*@
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="">
                @(Model == null ? "增加" : "修改")
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;

        //自定义验证规则
        form.verify({
            //nikename: function(value){
            //    if(value.length < 5){
            //        return '昵称至少得5个字符啊';
            //    }
            //}
            //,pass: [/(.+){6,12}$/, '密码必须6到12位']
            //,repass: function(value){
            //    if($('#L_pass').val()!=$('#L_repass').val()){
            //        return '两次密码不一致';
            //    }
            //}
        });

        //监听提交
        form.on('submit(add)', function (data) {
            console.log(data.field);
            //发异步，把数据提交给php
            $.ajax({
                url: '/user/useradd/',
                type: 'POST',
                data: data.field,
                dataType: 'json',
                error: function () {
                    alert('error');
                },
                success: function (obj) {
                    layer.alert("@(Model==null? "增加成功":"修改成功")", { icon: 6 }, function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        window.parent.location.reload();
                    });
                }
            });

            return false;
        });


    });
</script>
<script>
    var _hmt = _hmt || []; (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();</script>
