<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 乐宝宝会员管理</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/layuijs")
    @Styles.Render("~/Content/layuicss")
    @RenderSection("scripts", required: false)
</head>
<body>

@RenderBody()
</body>
</html>
